/* styles.css */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  color: rgb(10, 10, 10);
  padding: 8px;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 30px; /* Updated font size */
  font-weight: bold; /* Added font weight */
}

.book-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.book-list-left {
  flex: 1;
  margin-right: 20px;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-bar button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.Book {
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.book-image {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  margin-right: 20px;
}

.book-info {
  flex-grow: 1;
}

.book-list-right {
  flex: 1;
}

.book-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
}

.book-detail-image {
  width: 150px;
  height: 200px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.book-detail-info {
  text-align: left;
}

footer {
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
  width: 100%;
}

/*----------------------*/
.add-book-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-book-form {
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
}

.add-book-form label {
  display: block;
  margin-bottom: 5px;
}

.add-book-form input[type="text"],
.add-book-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.add-book-form-buttons {
  display: flex;
  justify-content: space-between;
}

.add-book-form-buttons button {
  width: 45%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.add-book-form-buttons button:first-child {
  background-color: #3498db;
  color: white;
}

.add-book-form-buttons button:last-child {
  background-color: #e74c3c;
  color: white;
}

/*-------------*/
.book-sort {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  width: fit-content;
  margin: 10px 0;
}

.book-sort label {
  margin-right: 10px;
  font-weight: bold;
}

.book-sort select {
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  color: #495057;
}

/*------------------*/
.add-book {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.add-book button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-book button:hover {
  background-color: #2980b9;
}

/*-------------------*/
.book-detail-actions button {
  padding: 10px;

  color: #c02222;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.book-detail-actions button:last-child {
  margin-right: 0;
}

.book-detail-actions button:hover {
  background-color: #fb9191;
}

.book-detail-actions i {
  font-size: 16px;
}
